/*구글 폰트 사용*/
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,200;0,300;0,400;0,500;0,700;1,500&display=swap');


*{
    margin: 0;
    padding: 0;
    text-decoration: none;
    font-family: 'Montserrat', sans-serif;
}

/*navbar 폰트 설정*/
.navbar-brand{
    color: white;
}
.nav-link{
    color: white;
}


.Time-record-form{
    width: 600px;
    background: #f1f1f1;
    height: 500px;
    padding: 80px 40px;
    border-radius: 10px;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);


    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}